.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvaS
{
   border-width: 10px;
   background-color: blueviolet;
   border-style: ridge;
   border-color: coral;
}

